@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
body{background-color: #030321;}
.adam{color:#FF6633;font-family: 'Poiret One', cursive; font-size: 50px;}
.vellender{color:#EEEEEE;font-family: 'Poiret One', cursive; font-size: 50px;}
