@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
h2 {font-family: 'Yusei Magic', sans-serif;}
h3 {font-family: 'Yusei Magic', sans-serif;}
#r {font-size: 20px; background-color: #d23c3c;}
